@model Pruebatecnica.ViewModels.HabitacionesAlojamiento1.HAViewModel

@{
    ViewData["Title"] = "Editar Habitaciones / alojamiento";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="EditarHA" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="HabitacionesAlojamientoId" />
                <input type="hidden" asp-for="Estado" />
                <div class="form-group">
                    <label asp-for="Capacidad" class="control-label"></label>
                    <input asp-for="Capacidad" id="datepicker" class="datepicker form-control">
                    <span asp-validation-for="Capacidad" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumeroHabitacionAlojamiento" class="control-label"></label>
                    <input asp-for="NumeroHabitacionAlojamiento" id="datepicker" class="datepicker form-control">
                    <span asp-validation-for="NumeroHabitacionAlojamiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TarifaOrdinario" class="control-label"></label>
                    <input asp-for="TarifaOrdinario" class="form-control">
                    <span asp-validation-for="TarifaOrdinario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TarifaEspecial" class="control-label"></label>
                    <input asp-for="TarifaEspecial" class="form-control">
                    <span asp-validation-for="TarifaEspecial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
                      alertify.alert('Error', '@TempData["Mensaje"]', function(){ alertify.alert('Error'); });
                     </text>
            }
    </script>
}